[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "*"
duckdb = "*"
matplotlib = "*"
streamlit-d3graph = "*"
scipy = "1.11.2"
scikit-learn = "1.3.1"
gravis = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
